div.starter-template(ng-controller="AddContactController")
    div#messages(ng-show="errorMessage") {{ errorMessage }}

    h1 {{ contactTitle }}
    p.lead {{ contactSubTitle }}
    form.form-register(role='form', name='contactForm', ng-submit='addContact()', style='max-width: 300px;', ng-disabled='disabled')
        .form-group
            input.form-control(type='text', name='first_name', ng-model='contact.first_name', placeholder='First name', required)
            span(ng-show="hasError('first_name')") First name is required
            span(ng-show="errorFirstName" ng-bind="errorFirstName")
        .form-group
            input.form-control(type='text', name='last_name', ng-model='contact.last_name', placeholder='Last name', required)
            span(ng-show="hasError('last_name')") Last name is required
            span(ng-show="errorLastName") {{ errorLastName }}
        .form-group
            input.form-control(type='email', name='email', ng-model='contact.email', placeholder='Email Address', required)
            span(ng-show="hasError('email')") Email is required
            span(ng-show="errorEmail") {{ errorEmail }}
        .form-group
            input.form-control(type='text', name='phone', ng-model='contact.phone', placeholder='Phone', required)
            span(ng-show="hasError('phone')") Phone is required
            span(ng-show="errorPhone") {{ errorPhone }}
        .form-group
            input.form-control(type='text', name='address', ng-model='contact.address', placeholder='Street Address', required)
            span(ng-show="hasError('address')") Address is required
            span(ng-show="errorAddress") {{ errorAddress }}
        .form-group
            input.form-control(type='text', name='city', ng-model='contact.city', placeholder='City', required)
            span(ng-show="hasError('city')") City is required
            span(ng-show="errorCity") {{ errorCity }}
        .form-group
            input.form-control(type='text', name='state', ng-model='contact.state', placeholder='State', required)
            span(ng-show="hasError('state')") State is required
            span(ng-show="errorState") {{ errorState }}
        .form-group
            input.form-control(type='text', name='zipcode', ng-model='contact.zipcode', placeholder='Zip Code', required)
            span(ng-show="hasError('zipcode')")
            span(ng-show="errorZipcode") {{ errorZipCode }}
        button.btn.btn-default(type='submit') Create Contact
        &nbsp;
        a(href='/')
            button.btn.btn-primary(type="button") Cancel
