div.starter-template
    div#messages(ng-show="errorMessage" ) {{ errorMessage }}

    h1 Add a Product
    p.lead sub title
    form.form-register(role='form', name='productForm', ng-submit='addProduct()', style='max-width: 300px;', ng-disabled='disabled')
        .form-group
            input.form-control(type='text', name='product_name', ng-model='product.product_name', placeholder='Product Name', required)
            span(ng-show="hasError('product_name')") Product name is required
            span(ng-show="errorProductName") {{ errorProductName }}
        .form-group
            input.form-control(type='text', name='description', ng-model='product.description', placeholder='description', required)
            span(ng-show="hasError('description')") Description is required
            span(ng-show="errorDescription") {{ errorDescription }}
        .form-group
            input.form-control.text-left(type='test', name='price', ng-model='product.price', placeholder='Price', required)
            span(ng-show="hasError('price')") Price is required
            span(ng-show="errorPrice") {{ errorPrice }}

        button.btn.btn-default(type='submit') Create Product
        &nbsp;
        a(href='/')
            button.btn.btn-primary(type="button") Cancel