div.starter-template
    h3 Customer List
    p
    p There are {{contacts.length}} contacts in your database.

    table.table.table-hover
        thead
            tr
                th
                    a(href="", ng-click="predicate = 'last_name'; reverse=!reverse") Name
                th Address
                th
                    a(href="", ng-click="predicate = 'zipcode'; reverse=!reverse") Location
                th
                    a(href="", ng-click="predicate = 'zipcode'; reverse=!reverse") Zip Code
                th Phone Number
                th E-mail
                th Delete Contacts
        tbody
            tr(ng-repeat='contact in contacts| orderBy:predicate:reverse')
                td {{contact.last_name}}, {{contact.first_name}}
                td {{contact.address}}
                td {{contact.city}}, {{contact.state}}
                td {{contact.zipcode}}
                td {{contact.phone}}
                td {{contact.email}}
                td
                    input(type='checkbox', checked=false)
    p.button
        input(type='button', value='Delete Contacts')
    a(href='editContact/{{contact._id}}') Edit
    | -
    a(href='deleteContact/{{contact._id}}') Delete

    //div
    //    pre Current Editable Contact
    //        br
    //        span(ng-bind="contact | json")