div.starter-template
    h3 Customer List
    p
    p There are {{contacts.length}} contacts in your database.
        table.table.table-hover
            thead
                tr
                    th: a(href="", ng-click="predicate = 'last_name'; reverse=!reverse") Name
                    th Address
                    th: a(href="", ng-click="predicate = 'zipcode'; reverse=!reverse") Location
                    th: a(href="", ng-click="predicate = 'zipcode'; reverse=!reverse") Zip Code
                    th Phone Number
                    th E-mail
                    th
                    th.text-center Select
            tbody
                tr(ng-repeat='contact in contacts| orderBy:predicate:reverse')
                    td.text-left {{contact.last_name}}, {{contact.first_name}}
                    td.text-left {{contact.address}}
                    td.text-left {{contact.city}}, {{contact.state}}
                    td.text-left {{contact.zipcode}}
                    td.text-left {{contact.phone}}
                    td.text-left {{contact.email}}
                    td: button.btn.btn-danger(href='javascript:void(0);', ng-click='deleteContact(contact._id)') Delete
                    td.text-center: input(type='checkbox', checked=false)
        .btn-toolbar
            button.btn.btn-danger(type='button', ng-click='deleteContact($scope.deleteList)') Delete Selected




    //div
    //    pre Current Editable Contact
    //        br
    //        span(ng-bind="contact | json")