
div.starter-template

    h1 Edit a Product
    form.form-register(role='form', name='productEdit', ng-submit='editProduct()', style='max-width: 300px;', ng-disabled='disabled')
        .form-group
            input.form-control(type='text', name='product_name', ng-model='product.product_name', required)
                span(ng-show="hasError('product_name')") Product name is required
                span(ng-show="errorProductName") {{ errorProductName }}
        .form-group
            input.form-control(type='text', name='description', ng-model='product.description', required)
                span(ng-show="hasError('description')") Description is required
                span(ng-show="errorDescription") {{ errorDescription }}
        .form-group
            input.form-control(type='test', name='price', ng-model='product.price', required)
                span(ng-show="hasError('price')") Price is required
                span(ng-show="errorPrice") {{ errorPrice }}

        .btn-toolbar
            button.btn.btn-info(type='submit') Edit Product
            button.btn.btn-default(href='/', type="button") Cancel