div.starter-template
    div.container
        div.content
                table.table.table-hover
                    thead
                        tr
                            th
                                a(href="", ng-click="predicate = 'last_name'; reverse=!reverse") Product Name
                            th Description
                            th
                                a(href="", ng-click="predicate = 'status'; reverse=!reverse") Price
                    tbody
                        tr(ng-repeat='product in products| orderBy:predicate:reverse')
                            td {{ product.product_name }}
                            td {{ product.description }}
                            td {{ product.price }}