div.starter-template
    p There are {{products.length}} products
    div(ng-repeat='product in products')
        h3 {{product.first_name}} {{product.last_name}}
        div {{product.email}}
        a(href='editContact/{{product._id}}') Edit
        | -
        a(href='deleteContact/{{product._id}}') Delete

    //div
    //    pre Current Editable Contact
    //        br
    //        span(ng-bind="product | json")