div.starter-template
div.container
    div.content
        table.table.table-hover
            thead
                tr
                    th: a(href="", ng-click="predicate = 'last_name'; reverse=!reverse") Product Name
                    th Description
                    th: a(href="", ng-click="predicate = 'status'; reverse=!reverse") Price
                    th
                    th.text-center Select
            tbody
                tr(ng-repeat='product in products| orderBy:predicate:reverse')
                    td.text-left {{ product.product_name }}
                    td.text-left {{ product.description }}
                    td.text-left {{ product.price }}
                    td: button.btn.btn-danger(href='javascript:void(0);', ng-click='deleteProduct(product._id)') Delete
                    td.text-center: input(type='checkbox', checked=false, ng-value="ids", id="{{product._id}}")
        .btn-toolbar
            button.btn.btn-danger(type='button', value='submit') Delete
